/* 
; Title: site.css
; Author: Justin Barlowe
; Date: 24 May 2023
; Description: Site CSS page
 */

 /* Container styling. */

 body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4f3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #d6a800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #d6a800;
    --anchor-hover-color: #4f3674;
    --anchor-hover-background-color: #d6a800;
    --card-background-color: #fff;
    --card-title-color: #4f3674;
    --btn-background-color: #4f3674;
    --btn-color: #fff;
    --btn-hover-background-color: #d6a800;
    --btn-hover-color: #4f3674;
    --input-border-color: #ccc;
  }
  
  /* Dark theme variables */
  body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-background-color: #d176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
  }
 
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Input styling */
.input {
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: var(--input-border-color);
}

/* Full width set */
.full-width {
    width: 100%;
}

.form {
    display: inline-block;
    /* grid-template-columns: auto; */
}

.form-field {
    padding: 20px;
}

.app-header {
    font-weight: 400;
}

#return-home {
    color: #4F3674;
    text-decoration: none;
}

.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.assign-results-text {
    text-align: center;
    font-size: 20px;
}

#assign-results {
    font-size: 20px;
    margin: 10px;
}

 h2, h3, h4 {
    background-color: var(--heading-background-color);
    color: var(--heading-color);
    border: var(--heading-border-color);
    padding: 10px;
} 
