/* 
; Title: site.css
; Author: Justin Barlowe
; Date: 24 May 2023
; Description: Site CSS page
 */

 /* Container styling. */
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Input styling */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: var(--input-border-color);
}

/* Full width set */
.full-width {
    width: 100%;
}

.form {
    display: inline-block;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.app-header {
    font-weight: 400;
}

#return-home {
    color: #4F3674;
    text-decoration: none;
}

.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

 h2, h3, h4 {
    background-color: var(--heading-background-color);
    color: white;
    border: var(--heading-border-color);
    padding: 10px;
}
