/* 
; Title: theme.css
; Author: Justin Barlowe
; Date: 24 May 2023
; Description: Theme CSS page
 */

 /* Light theme variables */
body.light-theme {
  --text-color: #000;
  --background-color: #fff;
  --anchor-color: #4f3674;
  --h1-background-color: #3c275a;
  --h1-border-color: #d6a800;
  --heading-background-color: #3c275a;
  --heading-color: #fff;
  --heading-border-color: #d6a800;
  --anchor-hover-color: #4f3674;
  --anchor-hover-background-color: #d6a800;
  --card-background-color: #fff;
  --card-title-color: #4f3674;
  --btn-background-color: #4f3674;
  --btn-color: #fff;
  --btn-hover-background-color: #d6a800;
  --btn-hover-color: #4f3674;
  --input-border-color: #ccc;
  --table-header-background-color: #4F3674;
  --table-header-color: #fff;
  --table-border-color: #ddd;
  --table-hover-background-color: #D6A800;
  --table-hover-color: #4f3674;
}

/* Dark theme variables */
body.dark-theme {
  --text-color: #fafafa;
  --background-color: #303030;
  --anchor-color: #fff;
  --h1-background-color: #9c27b0;
  --h1-border-color: #9c27b0;
  --heading-background-color: #424242;
  --heading-color: #fff;
  --heading-border-color: #424242;
  --anchor-hover-color: #d176e1;
  --anchor-hover-background-color: #303030;
  --card-background-color: #424242;
  --card-title-color: #d176e1;
  --btn-background-color: #d176e1;
  --btn-color: #fff;
  --btn-hover-background-color: #7d4787;
  --btn-hover-color: #fff;
  --input-border-color: #303030;
  --table-header-background-color: #D176E1;
  --table-header-color: #fff;
  --table-border-color: #303030;
  --table-hover-background-color: #7D4787;
  --table-hover-color: #fff;
}

/* Font set */
* {
  font-family: "Oswald", Verdana, Arial, sans-serif;
}

/* Body color set */
body {
  color: var(--text-color);
  background: var(--background-color);
}

/* Anchor tags variable styling */
a {
  color: var(--anchor-color);
  text-decoration: none;
}

/* Anchor hover variables set */
a:hover {
  background-color: var(--anchor-hover-background-color);
  color: var(--anchor-hover-color);
}

/* Heading tag styling added. */
h1 {
  background-color: var(--h1-background-color);
  color: var(--heading-color);
  padding: 10px;
  border: solid 1px var(--h1-border-color);
}

/* Icon styling */
#icon-mode:hover {
  cursor: pointer;
}

/* Icon padding */
#icon-text {
  padding-left: 10px;
}

/* Styling for icon to move to right of container */
.pull-right {
  float: right;
}

/* Card styling */
.card-title {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  color: var(--card-title-color);
}

.card-content {
  padding-bottom: 10px;
}

/* Button styling */
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  color: #000;
}

.btn-primary {
  color: var(--btn-color);
  background-color: var(--btn-background-color);
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    border: 0;
}

.btn-primary:hover {
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-color);
  cursor: pointer;
}

.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--input-border-color);
}

.return-home {
  align-items: left;
  text-align: left;
  padding: 5px;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.table {

}

.table th {
  background-color: var(--table-header-background-color);
  color: var(--table-header-color);
}

.table td, th {
  border: var(--table-border-color);
}