/* Name: Justin Barlowe
Title: Barlowe-calorie.css
Date: 13 June 2023
Description: CSS Styling for week 4 */

#foodList {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
  }
